mixin header-search
  if (theme.search.enable)
    - let search_menu = _p('header.search.menu')
    #header-right-search
      i.fas.fa-search
      span= search_menu

mixin header-time
  if (theme.header.time.enable)
    #header-right-time
      span.header-right-time-time

#header-left
  #header-left-menu-icon
    i.fas.fa-bars
  #header-left-menu-list
    each item in (theme.header.menu || [])
      - let i18n = item.key + ".menu"
      a.header-left-menu-list-item(href=item.url)= _p(i18n)

#header-center

#header-right
  +header-search
  #header-right-title
    a.header-right-title-text(href=config.root)= config.title
  +header-time

if(theme.search.type ==="algolia")
  include ./header/algolia.pug
else if(theme.search.type ==="local")
  -
    var localConfig = theme.search.local || {};
    var localHit = localConfig.hit || {};
    var localHits = localConfig.hits || {};
    var localPath = Array.isArray(localConfig.path) ? localConfig.path[0] : (localConfig.path || 'search.json');
    var localIndexPath = url_for(localPath);
  #search-container
    .search-content
      .search-content-header
        .search-content-header-title
        span.search-content-header-logo 本地搜索
        .search-content-header-closebutton
          i.fa.fa-times
      .search-content-box
        input.search-content-box-input(type="text" placeholder=localHit.placeholder || '搜索文章')
      #algolia-hits.search-content-result
    .search-mask
  script.
    window.searchConfig = {
      localSearch: {
        indexPath: "#{localIndexPath}",
        per_page: #{localHits.per_page || 10},
        empty: "#{localHit.empty || '找不到内容'}"
      }
    };
